API_URL=https://api.backpack.exchange
WS_URL=wss://ws.backpack.exchange
BACKPACK_API_KEY=
BACKPACK_API_SECRET=
TRADING_STRATEGY=DEFAULT
AUTHORIZED_MARKET=["SOL_USDC_PERP"]
VOLUME_ORDER=10
MAX_ORDER_OPEN=1
CERTAINTY=90
UNIQUE_TREND=
ENABLE_STOPLOSS=true
TRAILING_STOP_GAP=1
MAX_PERCENT_LOSS=1%
MAX_PERCENT_PROFIT=2%
VOLUME_BY_POINT=600
PREVIEW_FARM_LAST_HOURS=5
LOG=true
GRID_MARKET=SOL_USDC_PERP
NUMBER_OF_GRIDS=10
UPPER_PRICE=
LOWER_PRICE=
UPPER_FORCE_CLOSE=
LOWER_FORCE_CLOSE=
GRID_PNL=10
